@import "tailwindcss";

@theme {
  --color-primary: #00b4d8;
  --color-primary-light: #48cae4;
  --color-bg-main: #caf0f8;
  --color-heading: #03045e;
  --color-body-text: #023e8a;
  --color-status-warn: #f1c40f;
  --color-status-danger: #e74c3c;
  --color-status-success: #2ecc71;
}
